*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
turbulence
doc/
public/doc/
public/docs/*.json
public/docs/*.html
public/docs/images/
public/docs/js/
public/docs/*
public/vendor
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
config/settings.y*ml
*.db
node_modules
bower_components
