*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
public/doc/
public/docs/*.json
public/docs/*.html
public/docs/images/
public/docs/js/
public/docs/*
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
config/settings.y*ml
