body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
body {
    overflow: hidden;
}

.form-row {
    margin-bottom: 15px;
}

#editor {
    margin: 0;
    position: absolute;
    top: 60px;
    bottom: 200px;
    left: 0;
    right: 0;
}
#control_panel {
    margin: 0;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: 20px;
    right: 0;
    height: 200px;
    border-top: 1px solid gray;
}
#control_panel_frame {
    margin: 0;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 200px;
    border-top: 1px solid gray;
}

.breakpoint:after {
    content: "*";
    color:red;
    position: absolute;
    left: 7px;
}

.current_line:before {
    content: "[  ]";
    color:yellow;
    position: absolute;
    left: 0px;
}

#script_output {
    height: 10em;
    overflow: scroll;
}
#working {
    display: none;
    position: fixed;
    width: 80%;
    height: 80%;
    z-index: 1000;
}

.ace_snippet-buble {
    box-sizing: border-box;
    background: none repeat scroll 0 0 rgba(160, 193, 241, 0.26);
    border: 1px solid rgba(119, 116, 139, 0.08);
    border-radius: 3px 3px 3px 3px;
    position: absolute;
    pointer-events: auto;
    cursor: pointer;
    z-index:10
}
.ace_snippet-buble:hover {
    background: rgba(94, 136, 147, 0.21);
}
