body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
body {
    overflow: hidden;
}
    
#editor { 
    margin: 0;
    position: absolute;
    top: 60px;
    bottom: 200px;
    left: 0;
    right: 0;
}
#control_panel {
    margin: 0;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: 20px;
    right: 0;
    height: 200px;   
    border-top: 1px solid gray; 
}
#control_panel_frame {
    margin: 0;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 200px;   
    border-top: 1px solid gray; 
}