
<div class="row">
    <div class="col-lg-12">

		<div class="jumbotron">
			<h1>Harp Runtime UI</h1>
			<p>The Harp Runtime provides an execution environment to develop and invoke Harp scripts.</p>
			<p><a href="/edit" class="btn btn-primary btn-lg">Edit a Sample</a></p>
		</div>

	</div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h2>Documentation</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="bs-example">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="/docs/api.html">API Documentation (if generated)</a>
        </li>
        <li class="list-group-item">
          <a href="/docs/index.html">Source Documentation (if generated)</a>
        </li>
      </ul>
    </div>
  </div>
</div>

